//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Mon 01 22 16:41:26 2024

IO_LOC "uart0txd" 13;
IO_PORT "uart0txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dacCs" 42;
IO_PORT "dacCs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dacSclk" 41;
IO_PORT "dacSclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dacDin" 40;
IO_PORT "dacDin" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcSdi" 21;
IO_PORT "adcSdi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcSclk" 19;
IO_PORT "adcSclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcCs" 18;
IO_PORT "adcCs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcReset" 17;
IO_PORT "adcReset" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "outLed" 10;
IO_PORT "outLed" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "adcSdo0" 20;
IO_PORT "adcSdo0" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=ON BANK_VCCIO=3.3;
IO_LOC "uart0rxd" 16;
IO_PORT "uart0rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "in2" 15;
IO_PORT "in2" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "in1" 14;
IO_PORT "in1" IO_TYPE=LVCMOS33 PULL_MODE=UP PCI_CLAMP=ON BANK_VCCIO=3.3;
IO_LOC "clk" 45;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "adcSdo1" 22;
IO_PORT "adcSdo1" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=ON BANK_VCCIO=3.3;
IO_LOC "adcRvs" 23;
IO_PORT "adcRvs" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=ON BANK_VCCIO=3.3;
IO_LOC "dacDout" 43;
IO_PORT "dacDout" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
